<?xml version="1.0" encoding="UTF-8"?>
<folder href="index">
  <toc>
    <entries>
      <entry name="SuperDevMode-DevMode" displayName="DevMode SDM" description="Super Dev Mode using DevMode"></entry>
      <entry name="SuperDevMode-CodeServer" displayName="CodeServer" description="Super Dev Mode using CodeServer"></entry>
      <entry name="Breakpoints" displayName="Breakpoints" description="Breakpoints"></entry>
      <entry name="maven/" displayName="Maven" description="Maven"></entry>
    </entries>
  </toc>
</folder>
