<?xml version="1.0" encoding="UTF-8"?>
<folder href="index">
  <toc>
    <entries>
      <entry name="SuperDevMode" displayName="Super DevMode"></entry>
      <entry name="CodeServer" displayName="Super DevMode with CodeServer"></entry>
      <entry name="ClassicDevMode" displayName="Classic DevMode"></entry>
    </entries>
  </toc>
</folder>
